#canvas
{
    background-color: #ffffff;
    border: none;
    outline: none;
    position: absolute;
    height: 600px;
    width: 600px;
    top: 210px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: var(--card-shadow);
    border-radius: var(--border-rad);
}

#hint
{
    display: none;
    position: absolute;
    top: 300px;
    left: 744PX;
    width: 400px;
    height: 200px;
    font-family: var(--font);
    font-size: var(--button-text-size);
    color: var(--text-color-2);
    animation: letterFade ease 3s;
    -webkit-animation: letterFade ease 3s;
    -moz-animation: letterFade ease 3s;
    -o-animation: letterFade ease 3s;
}

#go
{
    position: absolute;
    top: 640px;
    left: 750px;
    animation: fadein ease 1s;
}

#grade
{
    position: absolute;
    top: 720px;
    left: 848px;
    font-family: var(--font);
    font-size: var(--button-text-size);
}
#gradedisp
{
    position: absolute;
    top: 720px;
    left: 723px;
    font-family: var(--font);
    font-size: var(--button-text-size);
    animation: fadein ease 1s;
}

#displayGraph
{
    position: absolute;
    top: 810px;
    left: 80px;
}
